.containerrr{
	max-width: 1170px;
	margin: 0 auto;
	padding: 1em;
}

.wrapperq{
	box-shadow: 0 0 20px 0 #3F3F4D;
}

.brand{
	text-align: center;
}

.brand span{
	color: black;
}

.wrapperq > *{
	padding: 1em;
}

.company-info{
	background: #3F3F4D;
}

.company-info ul{
	list-style-type: none;
	padding: 0;
}

.company-info h3, .company-info ul{
	text-align: center;
	margin: 0 0 1rem 0;
}

.contact{
    background: #f9feff;
    color: black;
}
.contact > p {
    font-weight: bold;
}
/*Form Styling*/

.contact form{
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label{
    display: block;
    font-weight: bold;
}

.contact form p{
	margin: 0;
}

.contact form .full{
	grid-column: 1/3;
}

.contact form button, .contact form textarea, .contact form input{
	width: 100%;
	padding: 1em;
	border: 1px solid #c9e6ff;
}

.contact form button{
	background:#c9e6ff;
	border:0;
	text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
    background:#3F3F4D;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
}

.contact form button::-moz-focus-inner {
	border:0;
}

/*Large Screens*/

@media(min-width: 700px){
	.wrapperq{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	
	.wrapperq > *{
		padding: 2em;
	}
	.brand, .company-info h3, .company-info li{
		text-align: left;
	}

	
}
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
    margin: 25px;
}
.map-responsive iframe{
    left:0;
    top:0;
    margin: 25px;
    height:100%;
    width:100%;
    position:absolute;
}
.para{
    margin: 2em;
    
    padding: 2em;
}
.para > p{
    color: #3f3f4d;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}